.sec-padd{
	padding: 50px 0;
}
.text-center{
	text-align: center;
}
.main-title{
	color: #575655;
	margin-bottom: 30px;
}
.btn:focus{
	box-shadow: none;
}
/*.cstm-navbar{
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.cstm-navbar img{
	height: 80px;
}*/
.cstm-noc-footer a{
	color: #fff;
}
.btn-noc{
	background-color: #006699;
	border-color: #006699;
}
.btn-noc:hover{
	background-color: #02517a;
	border-color: #02517a;
}
.cstm-form-grp{
	display: flex;
}
.cstm-form-grp i{
	padding: 10px;
    color: #9c9c9c;
    min-width: 38px;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
    font-size: 14px;
    background-color: #f5f5f5;
}
.cstm-form-grp .form-control:not(textarea, .w-border){
	border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
}
.cstm-form-check:not(:last-child){
	margin-right: 96px;
}
.btn-apply{
	background-color: #f5f5f5;
    border-color: #e1e1e1;
    color: #575655;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
}
.btn-apply:hover{
	background-color: #e1e1e1;
	border-color: #e1e1e1;
	color: #575655;
}
.tbl-vacancies td{
	vertical-align: middle;
}
.main-registration .right-content-inner{
	margin-bottom: 20px;
}
.main-registration .right-content{
	background-image: url(../images/noc-Building1.png);
	color: #fff;
	height: 850px;
	overflow: hidden;
}
.main-registration .right-content h5{
	color: #fff;
}
.main-registration .right-content{
	border-radius: 0 .25rem .25rem 0; 
}
.main-registration .card{
	border-radius: .25rem 0 0 .25rem; 
}
.login-main .right-content{
	height: auto;
}
.error{
	color: red;
}
.upload-file p {
	color: red;
	font-size: 14px;
    margin-top: 8px;
}

/*recruit-application page starts*/

.main-recruit-application .form-table-title{
	background-color: #00588b70;
	color: #095090;
	margin-bottom: 0;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 14px;
}
.main-recruit-application .form-cstm-table td, 
.main-recruit-application .form-cstm-table th{
	padding: 10px 15px;
}
.main-recruit-application .table-striped > tbody > tr:nth-child(2n+1) > td > .form-group > .form-control {
   background-color: #f2f2f2;
}
.recruitment-form-sec .form-group{
	margin-bottom: 0;
}
.main-recruit-application .table th{
	font-size: 12px;
}
.main-recruit-application .table thead th{
	text-align: center;
}
/*nav-bar starts*/

.title-nav{
	height: 100px;
    background: #00588b;
}
.navbar{
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
	font-weight: 300;
}
.navbar .nav-flex-icons{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media (min-width: 768px){
	.sm-blue {
	    background: #005a88;
	    background-image: linear-gradient(to bottom, #005a88, #005a88);
	    box-shadow: 0 1px 1px rgb(0 0 0 / 20%);
	}	
}
.sm-blue {
    background: transparent;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}
.sm, .sm ul, .sm li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
}
.sm {
    box-sizing: border-box;
    position: relative;
    z-index: 9999;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@media (min-width: 768px){
	.sm-blue > li:first-child {
	    border-left: 0;
	}
	.sm-blue > li {
    	border-left: 1px solid #2b82ac;
	}
	.sm-blue li {
	    float: left;
	}
}
.sm li, .sm a {
    position: relative;
    font-size: 12px;
}
.sm, .sm ul, .sm li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    direction: ltr;
    text-align: left;
}
.sm *, .sm *::before, .sm *::after {
    box-sizing: inherit;
}
@media (min-width: 769px){
	.dont-show-on-big {
	    display: none;
	}
}
@media (max-width: 769px){
	.dont-show-on-phone {
	    display: none;
	}
}
@media (min-width: 768px){
	.sm-blue > li:first-child > a, .sm-blue > li:first-child > :not(ul) a {

	}	
}
@media (min-width: 768px){
	.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
	    padding: 13px 23px;
	    background: #005a88;
	    background-image: linear-gradient(to bottom, #005a88, #005a88);
	    color: #fff;
	}	
}
@media (min-width: 768px){
	.sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
	    background: #2b82ac;
	    background-image: linear-gradient(to bottom, #2d89b4, #297ca3);
	}	
}
@media (min-width: 768px){
	.sm-blue a {
	    white-space: nowrap;
	}
}
.inside-btn{
	background-color: #fff;
    font-size: 12px;
    border: 0;
    right: 7px;
    padding: 4px;
    top: 38px;
    color: #007bff;
}
@media (max-width: 769px){
	.form-control{
		width: 200px;
	}
}
/*user profile page starts*/

@media (max-width: 769px){
	.main-user-profile .form-control {
		width: 100%;
	}
}

/* 404 page starts */
.sec-404page .error-page-inner::before{
	content: url("../images/noc-logo-footer.png");
	z-index: -1;
	position: absolute;
	opacity: 0.1;
	left: 33%;
}
.sec-404page h1{
	font-size: 60px;
    color: #005a88;
}
.sec-404page h4{
	margin-bottom: 30px;
	color: #ff1e07;
}
.sec-404page p{
	margin-bottom: 30px;
}
.sec-404page button i{
	padding-right: 5px;
}
.sec-404page .error-page-inner{
	text-align: center;
}

/* success page starts */
.main-success-page .success-top{
	margin-bottom: 35px;
	color: green;
	padding-left: 10px;
}
.main-success-page .success-bottom{
	margin-top: 45px;
}
.main-success-page h6 i{
	padding-right: 10px;
}
.main-success-page .form-control[readonly]::before{
	content: ":";
	padding-left: 10px;
}


.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 5;
	stroke-miterlimit: 10;
	stroke: green;
	fill: none;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: block;
	stroke-width: 5;
	stroke: green;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #fff;
	animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
	100% {
	  stroke-dashoffset: 0;
	}
  }
  @keyframes scale {
	0%, 100% {
	  transform: none;
	}
	50% {
	  transform: scale3d(1.1, 1.1, 1);
	}
  }
  @keyframes fill {
	100% {
	  box-shadow: inset 0px 0px 0px 30px #fff;
	}
  }