* {box-sizing: border-box;}
.tab{display: none; width: 100%; height: 50%;margin: 0px auto;}
.current{display: block;}

body {background-color: #f1f1f1;}

form {background-color: #ffffff; margin: 100px auto; font-family: Raleway; padding: 40px; width: 60%; min-width: 300px;    border-radius: 30px;
    border: .5px solid #e54b04b2; }

h2 {text-align: center; margin-bottom: 2rem; }

input {
    padding: 10px; 
    /* width: 100%;  */
    font-size: 17px; 
    font-family: Raleway; 
    border: 1px solid #aaaaaa; 
}

button {background-color: #47759e; color: #ffffff; border: none; padding: 10px 20px; font-size: 17px; font-family: Raleway; cursor: pointer; }

button:hover {opacity: 0.8; }

.previous {background-color: #bbbbbb; }

/* Make circles that indicate the steps of the form: */
.step {height: 30px; width: 30px; cursor: pointer; margin: 0 2px; color: #fff; background-color: #bbbbbb; border: none; border-radius: 50%; display: inline-block; opacity: 0.8; padding: 5px}

.step.active {opacity: 1; background-color: #47759e;}

.step.finish {background-color: #47759e; }

.error {color: #f00; }

/* Custom added */
.section-head {
    text-decoration: underline;
    font-style: italic;
    color: #47759e;
    font-weight: bold;
}